<div class="container-fluid">

    <div class="col-md-4">
        <a href="images/gallery/jpg1.jpg" class="thumbnail" data-lightbox="gallery" data-title="Stadium pic1">

            <img src="images/gallery//jpg1.jpg" class="img-responsive"/>
        </a>
    </div>
    <div class="col-md-4">
        <a href="images/gallery/jpg2.jpg" class="thumbnail" data-lightbox="gallery" data-title="Stadium pic1">

            <img src="images/gallery/jpg2.jpg" class="img-responsive"/>
        </a>
    </div>
    <div class="col-md-4">
        <a href="images/gallery/jpg3.jpg" class="thumbnail" data-lightbox="gallery" data-title="Stadium pic1">

            <img src="images/gallery/jpg3.jpg" class="img-responsive"/>
        </a>
    </div>

    <div class="col-md-4">
        <a href="images/gallery/jpg4.jpg" class="thumbnail" data-lightbox="gallery" data-title="Stadium pic1">

            <img src="images/gallery/jpg4.jpg" class="img-responsive"/>
        </a>
    </div>

    <div class="col-md-4">
        <a href="images/gallery/jpg5.jpg" class="thumbnail" data-lightbox="gallery" data-title="Stadium pic1">

            <img src="images/gallery//jpg5.jpg" class="img-responsive"/>
        </a>
    </div>

    <div class="col-md-4">
        <a href="images/gallery/jpg6.jpg" class="thumbnail" data-lightbox="gallery" data-title="Stadium pic1">

            <img src="images/gallery//jpg6.jpg" class="img-responsive"/>
        </a>
    </div>

</div>