<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-list-alt"></span><b>News</b>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12">
						<ul class="demo">

							<li class="news-item">
								<table cellpadding="4">
									<tr>
										<td><img src="images/news/1.png" width="60"
											class="img-circle" /></td>
										<td><b>Legia Warszawa - Lech Poznań</b> 17.06.2017r. godzina 17:00<br>Nie ma tak drugiego ważnego meczu w kalendarzu rozgrywek jak ten z Legią. Tak przynajmniej odczuwają kibice w Poznaniu i Wielkopolsce! Trudno się więc dziwić, że zainteresowaniem klasykiem ekstraklasy zdecydowanie przebija inne spotkania Kolejorza.

										</td>
									</tr>
								</table>
							</li>

							<li class="news-item">
								<table cellpadding="4">
									<tr>
										<td><img src="images/news/s4.png" width="60"
											class="img-circle" /></td>
										<td><b>Mecz Polska - Brazylia</b> 10.06.2017r. godzina 15:40<br>
											Mecz Ligi Światowej siatkarzy: Brazylia – Polska. Spotkanie rozpocznie się w sobotę, 10 czerwca, o godzinie 15:40. W poprzednich meczach Polacy ulegli Bułgarii 2:3, a Brazylia pokonała Kanadę 3:1.</td>
									</tr>
								</table>
							</li>

							<li class="news-item">
								<table cellpadding="4">
									<tr>
										<td><img src="images/news/2.png" width="60"
											class="img-circle" /></td>
										<td><b>Top Gear w Polsce!</b> 5.06.2017r. godzina 13:00<br>
											Polska widownia pokochała trójkę Brytyjczyków, która gościła już na VERVA Street Racing przed dwoma laty. Myślę, że ze wzajemnością, dlatego tym bardziej cieszymy się, że będziemy ich gościć na Stadionie Narodowym po raz kolejny - mówi Leszek Kurnicki z PKN ORLEN. - Również w tym roku na wszystkich fanów motoryzacji czekać będzie widowisko na najwyższym poziomie. Sprowadzimy wyjątkowe maszyny i gwiazdy sportu.
										</td>
									</tr>
								</table>
							</li>


						</ul>
					</div>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>

